*.out
*.log
*.a
*.so
CMakeCache*
CMakeFiles*
*.user
*.swp
.idea
build
Global_Electric_Circuit.cbp

plots/cond_plot.txt
plots/annual_variation.txt
plots/diurnal_variation.txt
plots/potential_2_columns.txt
plots/potential_2_columns_sourse.txt
