Global_Electric_Circuit
CMakeFiles/
*.txt
*.txt.user
*.cmake
*.cbp
Makefile
LICENSE
*.png
*.tex
*.user
*.bak
DoxyFile
html/
build/
*.autosave
plots/conductivity.py
latex/
gec
*.out
.idea/
Testing/
*.a
