Global_Electric_Circuit
CMakeFiles/
*.txt
*.txt.user
*.cmake
*.cbp
Makefile
LICENSE
*.png
*.tex
*.user
*.bak
DoxyFile
html/
build/
*.autosave
latex/
gec
*.out
.idea/
Testing/
*.a
*.dir
*.make
*.marks
Makefile
*.make
*.o
*.internal
cnpy/CMakeFiles/
CMakeCache.txt
*.so

